<section>
	<div class="container">
		<div class="row text-center mt-3">
			<div class="col col-md-8 offset-md-2">
				<div data-aos="fade-up">
					<%= image_tag("logo.svg", alt:"Logo", size:"150") %>
				</div>
				<h2 class="display-4 mt-3" data-aos-delay="100" data-aos="fade-up">À propos</h2>	
				<div data-aos-delay="150" data-aos="fade-up">
					<p class="lead" >Share Square est une plate-forme d'échange de compétences, elle a été crée en 2 semaines par une équipe de 5 étudiants Lyonnais dans le cadre de la formation The Hacking Project.
					</p>
					<h4 class="mt-3">
						Vous souhaitez nous contacter ?
					</h4>
					<p>
						<a href="mailto:thplyon@protonmail.com">thplyon@protonmail.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>