<section>
	<div class="container">
		<div class="row py-6 text-center justify-content-center align-items-center layer-2">
			<div class="col col-8">
				<div class="mb-3">
					<%= image_tag("logo.svg", alt:"Logo", size:"150") %>
				</div>
				<h1 class="display-4" data-aos="fade-up">À propos</h1>	
				<p class="lead mb-0" data-aos-delay="150" data-aos="fade-up">Share Square est une plate-forme d'échange de compétences, elle a été crée en 2 semaines par une équipe de 5 étudiants Lyonnais faisant du développement web dans le cadre de la formation The Hacking Project.
				</p>
				<h4 class="mt-4">
					Vous souhaitez nous contacter ?
				</h4>
				<a href="mailto:thplyon@protonmail.com">thplyon@protonmail.com</a>
			</div>
		</div>
	</div>
</section>