<% if @ad.errors.any? %>
  <div id="error_explanation" data-dismiss="alert" class="alert alert-danger" role="alert" aria-label="Close">
    <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>