<!-- JUMBOTRON -->
<div class="jumbotron">
	<div class="container mt-3">
		<div class="row">
			<div class="col">
				<h1 class="display-4 text-center">Trouve ce qu'il te plaît</h1>
				<p class="lead text-center">Des milliers d'annonces </p>
				<hr class="my-3">
				<p>Faire des rencontres utiles !</p>
			</div>
		</div>
	</div>

</div>

<!-- the list of the ads -->
<div class="container">
	<div class="row">
		
		<% @ad.each do |ad| %>
		<% if ad.validated == true %>
		
		<div class="col col-sm-4">
			<div class="card shadow mb-3">
				<h5 class="card-header"><%= ad.title%></h5>

				<div class="card-body test">
					<p class="card-text"><%= ad.description %></p>

					<%= link_to "Voir l'annonce", ad_path(ad), class: "btn btn-primary btn-sm" %>
				</div>

			</div>
		</div>
		<% end %>
		<% end %>

	</div>
</div>

