<!-- JUMBOTRON -->
<div class="jumbotron">
	<div class="container mt-3">
		<div class="row">
			<div class="col">
				<h1 class="display-4 text-center">Trouve ce qu'il te plaît</h1>
				<p class="lead text-center">Des milliers d'annonces </p>
				<hr class="my-3">
				<p>Faire des rencontres utiles !</p>
				<%= link_to "Créer une annonce",new_ad_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

<!-- the list of the filters -->
<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-sm-12 col-md-2">
				<div class="filters">
					<div class="ui-group mb-3">
						<h5 class="text-center">Types</h5>
						<div class="button-group js-radio-button-group list-unstyled btn-block btn-sm" data-filter-group="type">
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm is-checked" data-filter="">Tout</button></li>
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm " data-filter=".Projet">Projet</button></li>
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Cours">Cours</button></li>
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Coup">Coup de main</button></li>
						</div>
					</div>

					<div class="ui-group mb-3">
						<h5 class="text-center">Catégories</h5>
						<ul class="button-group js-radio-button-group list-unstyled btn-sm" data-filter-group="category">
							<li class="mb-1"><button class="button btn btn-light is-checked btn-block btn-sm" data-filter="">Tout</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Cuisine">Cuisine</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Mecanique">Mecanique</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Artisanat">Artisanat</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Musique">Musique</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Art">Art</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Jeux">Jeux</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Technologie">Technologie</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Sport">Sport</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Jardinage">Jardinage</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Ecriture">Écriture</button></li> 
							<li class="mb-1"><button class="button btn btn-light btn-block btn-sm" data-filter=".Langues">Langues</button></li> 
						</ul>
					</div>
				</div>
			</div>

		
			<div class="grid col-sm-12 col-md-10 p-0 m-0">
				<%= render '/ads/index_ads' %>				

			<!-- the list of the ads -->

			
			</div>
		</div>
	</div>	
</section>