<section class="mt-2">
	<div class="container">
		<div class="row">
			<div class="col">
				<%= link_to "Retour aux annonces", ads_path, class: "btn btn-primary btn-sm" %> 
				<nav aria-label="breadcrumb" class="mt-3">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><%=@ad.type.name%></a></li>
						<li class="breadcrumb-item active" aria-current="page"><%=@ad.category.name%></li>
					</ol>
				</nav>
				<%=render 'shared/ad', locals: {ad: @ad} %>
			</div>
		</div>
	</div>
</section>