<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Bonjour,</h1>
<p>Votre compte a bien été supprimé. </p>
<p>Vous pouvez en recréer un sur : <a href="<%=@url%>"><%=@url%></a>.</p>
<p>Cordialement,</p>
<p>L'équipe de :<a href="<%=@home%>"><%=@home%></a>.</p>
</body>
</html>