<!DOCTYPE html>
<html>
<head>
	<title>Share Square</title>
</head>
<body>
<h1>Bonjour,</h1>
<p>Votre compte a bien été supprimé. </p>
<p>Vous pouvez en recréer un sur : <%= @url %>.</p>
<p>Cordialement,</p>
<p>L'équipe de : https://share-square.herokuapp.com !</p>
</body>
</html>