<!DOCTYPE html>
<html>
<head>
	<title>Event Lyon</title>
</head>
<body>
<h1>Salut <%= @user.first_name %> et bienvenue sur Share Square !</h1>
<p>Tu t'es inscrit sur https://share-square.herokuapp.com en utilisant l'email suivant : <%= @user.email %></p>
<p>Pour accéder à ton espace client, connecte-toi via <%= @url %></p>
<p>À très vite sur https://share-square.herokuapp.com !</p>
</body>
</html>