<div class="container-fluid">
  <div class="row">
    <!-- Partial for the dashboard -->
    <%= render 'layouts/dashboard' %>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><%= @total_ad_count %></h2>
            <p>Annonces sont en ligne</p>
          </div>
          <div class="col">
            <h2><%= @total_users_count %></h2>
            <p>Utilisateurs sont inscrits</p>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <% @ads.each do |a| %>
        <div class="media">
          <p class="media-body pb-1 small lh-125 border-bottom border-gray">
            <strong class="d-block"><%= a.title %> <i class="fa fa-trash text-danger" aria-hidden="true"></i></strong>
          </p>
        </div>
        <% end %>
      </div>
    </main>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>