<div>
   <%= "Conversation avec #{conversation.with(current_user).first_name} #{conversation.with(current_user).last_name}" %>
  <br>
  <%= link_to 'Voir la conversation', conversation_path(id:conversation) %>
  <hr>
</div>