<section>
	<div class="container mt-3">
		<div class="row">
			<div class="col col-md-8">
				<h1>Mes conversations</h1>
				<% if @conversations.size > 0 %>
					<div id="conversations">
						<%= render @conversations %> 
					</div>
				<%else%>
					<div>
						<p>Vous n'avez aucune conversation en cours.</p>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</section>
