<section>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Mes conversations</h1>

				<div id="conversations">
					<%= render @conversations %>
				</div>
			</div>
		</div>
	</div>
</section>
