<section>
	<div class="container">
		<div class="row">   
			<!-- Partial for the dashboard menu -->
			<%= render 'admins/dashboard' %>
			<!-- Main content -->
			<div class="col-sm-12 col-md-9">
				<div class="container">
					<!-- Ads -->
					<div class="row">
						<div class="col">
							<h4 class="p-2 bg-primary-alt"><i class="fas fa-sticky-note text-primary"></i> Edition d'annonces</h4>
						</div>
					</div>
					<!-- Number of ads + create ad button -->
					<div class="row px-2">
						<div class="col">
							<p class="ml-1">
								<%= @ads.count %> annonces sont en ligne.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<!-- Loop to display each ad -->
							<%= render 'ad_cards_admin_dashboard' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>