<section>
	<div class="container-fluid">
		<div class="row">
			<!-- Partial for the dashboard -->
			<%= render 'admins/dashboard' %>
			<!-- Main content -->
			<div class="col-sm-12 col-md-9">
				<div class="container">
					<!-- Ads -->
					<div class="row">
						<div class="col">
							<h4 class="p-2 bg-primary-alt"><i class="fas fa-sticky-note text-primary"></i> Utilisateurs</h4>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<%= link_to "Créer un utilistaeur", new_admins_user_path, class: "btn btn btn-primary" %>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<!-- Loop to display each user -->
							<%= render 'user_cards_admin_dashboard' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


