	<div class="d-flex flex-row-reverse align-items-center mr-3">
	<img src="https://images.ecosia.org/jxYX_JqWZ3_B2J9zjNo9jaEJA5k=/0x390/smart/https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb6dT4kyVUuY%2Fmaxresdefault.jpg" class="avatar avatar-sm" alt="">
	<span class="bg-white shadow-sm text-dark py-2 px-3 mr-1 chat-msg" style="border-radius:2em;"><%= message %></span>
	</div>