<!-- Section 4 - 3 TYPES OF ADS -->
<section class="o-hidden">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h1 data-aos="fade">Trois types d'annonces</h1>
			</div>
		</div>
		<div class="row text-center" >
			<div class="col-sm-12 col-md-4 my-4" data-aos="fade-up">
				<i class="fas fa-user-graduate text-primary-2 big-icon"></i>
				<h3 class="mt-2 text-primary">Cours</h3>
				<p>
					Vous cherchez à apprendre le piano ?<br>
					Posez une annonce et une personne de la communauté pourra vous contacter pour vous donner des cours.
				</p>
			</div>
			<div class="col-sm-12 col-md-4 my-4" data-aos="fade-up" data-aos-delay="150">
				<i class="fas fa-hands-helping text-primary-2 big-icon"></i>
				<h3 class="mt-2 text-primary">Coup de main</h3>
				<p>
					Vous avez besoin de réparer un meuble et vous ne savez pas comment vous y prendre?<br/>
					Demandez de l'aide à quelqu'un de la communauté!
				</p>
			</div>
			<div class="col-sm-12 col-md-4 my-4" data-aos="fade-up" data-aos-delay="300">
				<i class="fas fa-users text-primary-2 big-icon"></i>
				<h3 class="mt-2 text-primary">Projet</h3>
				<p>
					Vous jouez dans un groupe mais il vous manque un bassiste ?<br>
					Proposez à quelqu'un de vous rejoindre pour que ses compétences viennent s'ajouter aux votres sur un projet.
				</p>
			</div>
		</div>
	</div>
</section>