<!-- Dashboard Menu -->
<nav class="col-md-2 d-none d-md-block border-right sidebar">
	<div class="row justify-content-center sticky-top no-gutters">
		<ul class="nav ">
			<li class="nav-item">
				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
					<h3 class="mt-3">Profil</h3><hr>
				</h6>
				<%=link_to "Accueil", user_path(current_user), class: "nav-link active" %><i class="fas fa-home text-primary"></i> <hr> 
			</li>
			<li class="nav-item">
				<%=link_to "Ma messagerie", conversations_path, class: "nav-link active" %><i class="fas fa-comment-dots text-primary"></i> <hr>
			</li>
			<li class="nav-item">
				<%=link_to "Editer mon profil", edit_user_path, class: "nav-link active" %><i class="fas fa-user text-primary"></i> <hr>
			</li>
			<li class="nav-item">
				<i class="fas fa-trash-alt text-danger"></i>
				<span><%=link_to "Supprimer mon compte", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link active" %></span> <hr>
			</li>
		</ul>
	</div>
</nav>