<!-- Dashboard Menu -->
<nav class="col-md-2 d-none d-md-block border-right sidebar">
	<div class="row justify-content-center sticky-top no-gutters">
		<ul class="nav ">
			<li class="nav-item">
				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
					<h3>Dashboard</h3><hr>
				</h6>
				<%=link_to "Accueil ðŸ ", admins_index_path, class: "nav-link active" %> <hr> 
			</li>
			<li class="nav-item">
				<%=link_to "Annonces ðŸ“", admins_ads_path, class: "nav-link active" %> <hr>
			</li>
			<li class="nav-item">
				<%=link_to "Utilisateurs ðŸ‘¥", admins_users_path, class: "nav-link active" %> <hr>
			</li>
		</ul>
	</div>
</nav>